#
# SPDX-FileCopyrightText: Copyright 2025 Arm Limited and/or its affiliates <open-source-office@arm.com>
# SPDX-License-Identifier: Apache-2.0
#
name: Build ML SDK (manifest + overrides)

on:
  workflow_call:
    inputs:
      overrides_json: { type: string, required: true }

permissions:
  contents: read
  packages: read

env:
  MANIFEST_URL: https://github.com/${{ github.repository_owner }}/ai-ml-sdk-manifest.git
  REPO_DIR:     ${{ github.workspace }}/sdk
  INSTALL_DIR:  ${{ github.workspace }}/install
  OVERRIDES:    ${{ inputs.overrides_json }}

jobs:
  build-linux:
    runs-on: ${{ matrix.platform }}
    strategy:
      matrix:
        include:
          - platform: ubuntu-24.04
            arch_tag: amd64
          - platform: ubuntu-24.04-arm
            arch_tag: arm64
      fail-fast: false

    container:
      image: ghcr.io/${{ github.repository_owner }}/ml-sdk-linux-${{ matrix.arch_tag }}:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
      options: --user root

    steps:
      - uses: actions/checkout@v4
      - name: Clone repositories and build
        run: .github/workflows/scripts/ci_build.sh

  build-windows:
    uses: ./.github/workflows/build-windows-job.yml
    with:
      manifest_url:   ${{ env.MANIFEST_URL }}
      repo_dir:       ${{ env.REPO_DIR }}
      install_dir:    ${{ env.INSTALL_DIR }}
      overrides_json: ${{ env.OVERRIDES }}
