#
# SPDX-FileCopyrightText: Copyright 2025 Arm Limited and/or its affiliates <open-source-office@arm.com>
# SPDX-License-Identifier: Apache-2.0
#
name: Trigger manifest build

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

permissions:
  contents: read
  packages: read

concurrency:
    group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
    cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  call:
    uses: ./.github/workflows/build-with-manifest.yml
    with:
      changed_repo: ${{ github.repository_owner }}/ai-ml-sdk-for-vulkan
      changed_sha:  ${{ github.sha }}
